#textdomain wesnoth-NX-RPG

#define NX_CREDITS_SEP
    [entry]
        name="*"
    [/entry]
#enddef

[about]
    title= _ "Creator and Lead Designer"
    [entry]
        name="Charles Dang (vultraz)"
        comment="Main designer, maintainer, release manager, creative source, and person-who-asks-a-lot-of-people-how-to-do-stuff."
    [/entry]
[/about]
{NX_CREDITS_SEP}
[about]
    title= _ "Campaign Maintenance"
    [entry]
        name="Charles Dang (vultraz)"
    [/entry]
    [entry]
        name= "Steven Panek (Espreon)"
        comment="Non-maintainer uploads; umcpropfix-runner; miscellaneous maintenance updates"
    [/entry]
    [entry]
        name= "8680"
        comment="Massive help in the move to GitHub"
    [/entry]
[/about]
{NX_CREDITS_SEP}
[about]
    title= _ "Coding Assistants"
    [entry]
        name= "ancestral"
    [/entry]
    [entry]
        name= "Crendgrim"
        comment="Some Lua assistance"
    [/entry]
    [entry]
        name= "Elvish_Hunter"
        comment="Lots and lots of Lua assistance"
    [/entry]
    [entry]
        name= "Derek Hogland (Gambit)"
        comment="Minor coding assistance; loose screw"
    [/entry]
    [entry]
        name="Ignacio R. Morelle (shadowmaster/ShikadiLord)"
        comment="Early coding assistance; maintainer of After the Storm, from which some assets were borrowed"
    [/entry]
    [entry]
        name= "Steven Panek (Espreon)"
        comment="Early coding assistance; maintainer of The Silver Lands, from which some assets were borrowed"
    [/entry]
    [entry]
        name= "SpoOkyMagician"
        comment="Early coding assistance and playtesting"
    [/entry]
    [entry]
        name= "Zookeeper"
    [/entry]
    [entry]
        name= "8680"
        comment="Massive Lua and general code assiatance"
    [/entry]
[/about]
{NX_CREDITS_SEP}
[about]
    title= _ "Graphics"
    [entry]
        name= "Ben Wenzel (artisticdude)"
        comment= "Major pixel art helper"
    [/entry]
    [entry]
        name="Charles Dang (vultraz)"
    [/entry]
    [entry]
        name= "Sleepwalker"
        comment= "Northguard Nightshaft revisions"
    [/entry]
    [entry]
        name= "Zerovirus"
        comment= "Major pixel art help; made some base frames which I borrowed"
    [/entry]
[/about]
{NX_CREDITS_SEP}
[about]
    title= _ "Music"
    # 'Borrowed' standing for 'they didn't make it for NX specifically'
    [entry]
        name="Mattias Westlund (West)"
        comment="Borrowed track: The High King’s March"
    [/entry]
    [entry]
        name="Teleron"
        comment="Borrowed track: Land of Adventure"
    [/entry]
[/about]

#undef NX_CREDITS_SEP
