#textdomain wesnoth-NX-RPG

[scenario]
    id=04_Pursuit
    name= _ "Pursuit"
    {MAP 04_Pursuit.map}
    turn=-1
    next_scenario=05_01_Ambush_in_Wesmere
    victory_when_enemies_defeated=no

    {UNDERGROUND}

    {SCENARIO_MUSIC       underground.ogg}
    {EXTRA_SCENARIO_MUSIC franticsketch.ogg}
    {EXTRA_SCENARIO_MUSIC vengeful.ogg}
    {EXTRA_SCENARIO_MUSIC into_the_shadows.ogg}

    {STORYTXT_PURSUIT}

    # wmllint: validate-off
    [side]
        side=1
        controller=human
        gold=60
        save_id=player
        team_name=good
        user_team_name= _ "team_name^Niryone"
        {ELVISH_FLAG}

        # wmllint: recognize Niryone
        {CHARACTER_STATS:NIRYONE}

        facing=ne
        shroud=yes
    [/side]

    [side]
        side=2
        controller=ai
        team_name=evil
        user_team_name= _ "team_name^Escort"
        type=Grand Marshal
        {HUMAN_FLAG}

        name= _ "Rhaen"
        id=Rhaen
        canrecruit=yes
        unrenamable=yes
        hidden=yes
        facing=se

        {NO_ECONOMY}

        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT grouping          offensive}
            {AI_SIMPLE_ALWAYS_ASPECT caution           0.00}
            {AI_SIMPLE_ALWAYS_ASPECT aggression        2.0}
            {AI_SIMPLE_ALWAYS_ASPECT leader_aggression 1.5}
            {AI_SIMPLE_ALWAYS_ASPECT leader_value      3}

            [goal]
                name=target
                value=10
                [criteria]
                    side=1
                [/criteria]
            [/goal]
        [/ai]
    [/side]

    [side]
        side=3
        controller=ai
        recruit=Troll Whelp, Troll
        {GOLD 60 70 80}
        team_name=evil
        user_team_name= _ "team_name^Trolls"
        type=Troll Warrior
        {RAGGED_FLAG}

        name= _ "Barag"
        id=Barag
        hidden=yes
        canrecruit=yes
        unrenamable=yes
        facing=se
    [/side]

    # Random cave enemies
    [side]
        side=4
        controller=null
        no_leader=yes
        team_name=evil
        user_team_name= _ "team_name^Cave Creatures"
        hidden=yes
        color=black

        {GENERIC_UNIT () Leech 21 17}
        {GENERIC_UNIT () Leech 14 25}
        {GENERIC_UNIT () Leech 6 7}
        {GENERIC_UNIT () Leech 16 1}
        {GENERIC_UNIT () Leech 29 8}
    [/side]
    # wmllint: validate-on

    # wmlindent: start ignoring
    {FORCE_CHANCE_TO_HIT (
        [not]
            id=Niryone
        [/not]) (id=Rhaen) 0 (
    )}
    # wmlindent: stop ignoring

    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 (Troll) {DIFF 1 1 2} }

    [event]
        name=prestart

        [object]
            silent=yes
            [filter]
                id=Rhaen
            [/filter]
            [effect]
                apply_to=new_animation
                [extra_anim]
                    flag=scorp_summoning
                    start_time=-300
                    [frame]
                        image="units/human-loyalists/marshal-leading.png:350"
                        halo="halo/undead/black-magic-[1~5].png:[75*4,50]"
                    [/frame]
                    [sound_frame]
                        sound=magic-dark.ogg
                        sound_start_time=-100
                    [/sound_frame]
                [/extra_anim]
            [/effect]
        [/object]

        [deactivate_and_serialize_sides]
            side=2
            variable=rhaen_store
        [/deactivate_and_serialize_sides]

        # wmllint: recognize Elynia
        {RECALL_ELYNIA 3 26}

        # wmllint: recognize Anathryis
        {RECALL_ANATHRYIS 2 26}

        {MODIFY_UNIT (side=1) facing ne}
    [/event]

    [event]
        name=start

        {LOCK_VIEW}

        [delay]
            time=500
        [/delay]

        [move_unit_fake]
            type=Grand Marshal
            x=5,9
            y=24,22
            side=2
        [/move_unit_fake]

        [delay]
            time=500
        [/delay]

        [message]
            speaker=Elynia
            message= _ "There he goes. After him!"
        [/message]

        [message]
            speaker=Niryone
            message= _ "We must be careful. These caverns haven’t been used for a while, who knows what could be in here."
        [/message]

        [message]
            speaker=Anathryis
            message= _ "Probably bats, leeches, scorpions, the whole lot."
        [/message]

        [message]
            speaker=Elynia
            message= _ "Great...."
        [/message]

        {UNLOCK_VIEW}

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Pursue Rhaen")}

            {OBJECTIVE_DEFEAT ( _ "Death of Niryone")}
            {OBJECTIVE_DEFEAT ( _ "Death of Elynia")}
            {OBJECTIVE_DEFEAT ( _ "Death of Anathryis")}

            {OBJECTIVE_CARRYOVER 40}
        )}
    [/event]

    [event]
        name=sighted
        [filter]
            race=Troll
        [/filter]
        [filter_second]
            side=1
        [/filter_second]

        [message]
            speaker=second_unit
            message= _ "Bloody trolls! They’re in here too!"
        [/message]

        [message]
            speaker=unit
            # wmllint: local spellings elvses Heehee
            message= _ "We likes elvses! Smash nice! Heehee."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x=16-24
            y=1-7
        [/filter]

        {INCIDENTAL_MUSIC into_the_shadows.ogg}

        [unserialize_and_activate_sides]
            side=2
            variable=rhaen_store
        [/unserialize_and_activate_sides]

        [remove_shroud]
            side=1
            x=19-30
            y=1-9
        [/remove_shroud]

        [scroll_to]
            x,y=27,5
        [/scroll_to]

        [message]
            speaker=unit
            message= _ "There’s nowhere else to go. Just give us the answers we want and you can go."
        [/message]

        [message]
            speaker=Rhaen
            message= _ "Never! By the darkest arts, your world will fall and you will be able to do naught about it!"
        [/message]

        [message]
            speaker=unit
            message= _ "Then you leave us no choice."
        [/message]

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Defeat Rhaen")}

            {OBJECTIVE_DEFEAT ( _ "Death of Niryone")}
            {OBJECTIVE_DEFEAT ( _ "Death of Elynia")}
            {OBJECTIVE_DEFEAT ( _ "Death of Anathryis")}

            {OBJECTIVE_NOTES ( _ "Only Niryone will be able to hit Rhaen")} {OBJECTIVE_NOTES_SHOW_IF (
                {VARIABLE_BOOLEAN_EQUALS niry_already_attacked yes}
            )}

            {OBJECTIVE_CARRYOVER 40}
        )}

        {VARIABLE finale_triggered yes}
    [/event]

    [event]
        name=side 2 turn
        first_time_only=no
        [filter_condition]
            {VARIABLE_BOOLEAN_EQUALS finale_triggered yes}
        [/filter_condition]

        [fire_event]
            name=spawn a scorp
            [primary_unit]
                id=Rhaen
            [/primary_unit]
        [/fire_event]
    [/event]

    [event]
        name=attack ends
        [filter]
            [not]
                id=Niryone
            [/not]
        [/filter]
        [filter_second]
            id=Rhaen
        [/filter_second]
        [filter_condition]
            {VARIABLE_BOOLEAN_NOT_EQUALS niry_already_attacked yes}
        [/filter_condition]

        [message]
            speaker=second_unit
            message= _ "We cannot touch him! He doesn’t seem to have removed that magic shield, but it’s weaker now..."
        [/message]

        [message]
            speaker=Niryone
            message= _ "I will have to do this."
        [/message]

        [message]
            speaker=Rhaen
            message= _ "(<i>laughs maniacally</i>)"
        [/message]

        [delay]
            time=500
        [/delay]

        [fire_event]
            name=spawn a scorp
            [primary_unit]
                id=Rhaen
            [/primary_unit]
        [/fire_event]

        [show_objectives][/show_objectives]
    [/event]

    [event]
        name=attack ends
        [filter]
            id=Niryone
        [/filter]
        [filter_second]
            id=Rhaen
        [/filter_second]

        [message]
            speaker=second_unit
            message= _ "Give up and TALK!"
        [/message]

        [message]
            speaker=Rhaen
            # wmllint: local spelling Muahahah
            message= _ "Muahahah, never!"
        [/message]

        [fire_event]
            name=spawn a scorp
            [primary_unit]
                id=Rhaen
            [/primary_unit]
        [/fire_event]

        {VARIABLE niry_already_attacked yes}

        [show_objectives][/show_objectives]
    [/event]

    [event]
        name=spawn a scorp
        first_time_only=no
        [filter_condition]
            {VARIABLE_BOOLEAN_NOT_EQUALS unit.status.petrified yes}
        [/filter_condition]

        [store_locations]
            [and]
                [filter]
                    id=Rhaen
                [/filter]
                radius=1
            [/and]
            [not]
                [filter][/filter]
                [or]
                    terrain=X*,Q*
                [/or]
            [/not]
            variable=potential_scorp_locs
        [/store_locations]

        [set_variable]
            name=scorp_loc_index
            rand=0..$($potential_scorp_locs.length-1)
        [/set_variable]

        [animate_unit]
            [filter]
                id=Rhaen
            [/filter]
            flag=scorp_summoning
        [/animate_unit]

        {GENERIC_UNIT 2 (Giant Scorpion) $potential_scorp_locs[$scorp_loc_index].x $potential_scorp_locs[$scorp_loc_index].y} {NO_UPKEEP_NO_OVERLAY}
        [+unit]
            animate=yes
        [/unit]

        {CLEAR_VARIABLE potential_scorp_locs,scorp_loc_index}
    [/event]

    [event]
        name=last breath
        [filter]
            name=Rhaen
        [/filter]

        [message]
            speaker=second_unit
            message= _ "Tell me NOW. Who sent you and your transport, and where were you going?"
        [/message]

        [message]
            speaker=Rhaen
            message= _ "You will never, ever stop him. He holds more power within his grasp than you or your puny civilization could ever comprehend!"
        [/message]

        [message]
            speaker=narrator
            image=misc/blank-hex.png
            message= _ "The elf shot another tendril of energy from her staff, blasting the human’s armor with great force."
        [/message]

        [message]
            speaker=Rhaen
            # wmllint: local spelling AAAAHHHHHHHHHH
            message= _ "(<i>AAAAHHHHHHHHHH!!!</i>)"
        [/message]

        [message]
            speaker=narrator
            image=misc/blank-hex.png
            message= _ "The human whispered a few words as the two elves listened. Then Niryone nodded, and waved her staff. A bright white light grew from its tip, washing the human in a searing radiance. When it cleared, their captive was gone."
        [/message]

        {FLASH_WHITE (
            [kill]
                id=Rhaen
            [/kill]
        )}

        [delay]
            time=1000
        [/delay]

        [message]
            speaker=Niryone
            message= _ "We must meet with the Ka’lian. Now."
        [/message]

        {ENDLEVEL_CONTINUE}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Barag
        [/filter]

        [message]
            speaker=unit
            message= _ "Nasty elvses kill Barag. <i>Ugh....</i>"
        [/message]
    [/event]

    [event]
        name=victory

        {CLEAR_VARIABLE rhaen_store,finale_triggered,niry_already_attacked}
    [/event]

    {B_HERO_DEATHS}

    # {ENEMY_DEATH_CONTROLLER}
[/scenario]
