#textdomain wesnoth-NX-RPG

[scenario]
    id=07_Fleeing_the_Swarm
    name= _ "Fleeing the Swarm"
    {MAP 07_Fleeing_the_Swarm.map}
    {TURNS 45 44 43}
    next_scenario=08_01_Reunion
    victory_when_enemies_defeated=no

    {END_OF_PLAYABLE_SCENARIOS}

    {MIDDAY_HOUR}
    {AFTERNOON_HOUR1}
    {AFTERNOON_HOUR2}
    {AFTERNOON_HOUR3}
    {AFTERNOON_HOUR4}
    {AFTERNOON_HOUR5}
    {AFTERNOON_HOUR6}
    {DUSK_HOUR}
    {FIRST_WATCH_HOUR1}
    {FIRST_WATCH_HOUR2}
    {FIRST_WATCH_HOUR3}
    {FIRST_WATCH_HOUR4}
    {MIDNIGHT_HOUR}
    {SECOND_WATCH_HOUR1}
    {SECOND_WATCH_HOUR2}
    {SECOND_WATCH_HOUR3}
    {SECOND_WATCH_HOUR4}
    {SECOND_WATCH_HOUR5}
    {SECOND_WATCH_HOUR6}
    {DAWN_HOUR}
    {MORNING_HOUR1}
    {MORNING_HOUR2}
    {MORNING_HOUR3}
    {MORNING_HOUR4}

    {SCENARIO_MUSIC       northern_mountains.ogg}
    {EXTRA_SCENARIO_MUSIC land_of_adventure.ogg}
    {EXTRA_SCENARIO_MUSIC battle-epic.ogg}
    {EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}

    {STORYTXT_FLEEING_THE_SWARM}

    # wmllint: validate-off
    [side]
        side=1
        controller=human
        recruit=Skeleton, Skeleton Archer, Skeleton Rider
        save_id=Rhyan
        {GOLD 25 25 0}
        team_name=good
        user_team_name= _ "team_name^Rhyan"

        # wmllint: recognize Rhyan
        {CHARACTER_STATS:RHYAN_AS_LEADER}

        facing=nw
        shroud=yes
    [/side]

    [side]
        side=2
        controller=ai
        {GOLD 130 120 100}
        team_name=good
        user_team_name= _ "team_name^Dwarves"
        {DWARVISH_FLAG}

        type=Dwarvish Explorer
        name= _ "Glamatsil"
        id=Glamatsil
        facing=sw
    [/side]

    [side]
        side=3
        controller=ai
        {GOLD 300 275 250}
        team_name=evil
        user_team_name= _ "team_name^Humans"
        {HUMAN_FLAG}

        type=Great Mage
        name= _ "Ela"
        id=Ela
		profile="portraits/humans/transparent/mage-red+female.png"
        gender=female
        canrecruit=yes
        unrenamable=yes
        facing=se

        color=teal

        {LOYAL_UNIT () (White Mage) 30 22} {GUARDIAN} {FACING nw}

        {LOYAL_UNIT () (Dwarvish Sentinel) 35 23} {GUARDIAN} {FACING ne}
        {LOYAL_UNIT () (Dwarvish Sentinel) 35 26} {GUARDIAN} {FACING ne}

        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT passive_leader yes}
        [/ai]
    [/side]

    [side]
        side=4
        controller=ai
#ifdef HARD
        recruit=Goblin Rouser,Wolf Rider,Orcish Grunt,Orcish Archer,Orcish Assassin
#else
        recruit=Goblin Rouser,Wolf Rider,Orcish Grunt,Orcish Archer,Orcish Slayer
#endif
        {GOLD 175 200 225}
        team_name=evil
        user_team_name= _ "team_name^Enemies"

        {RAGGED_FLAG}

        type=Orcish Warlord
        id=Rarok
        name= _ "Rarok"
        profile=portraits/orcs/transparent/leader-2.png
        facing=nw

        color=brown

#ifdef HARD
        {GENERIC_UNIT () (Orcish Assassin) 27 17} {GUARDIAN} {WITH_ABILITY AMBUSH}
#else
        {GENERIC_UNIT () (Orcish Slayer)   27 17} {GUARDIAN} {WITH_ABILITY AMBUSH}
#endif
        {GENERIC_UNIT () (Orcish Slayer)   31 8} {GUARDIAN} {WITH_ABILITY AMBUSH}
        {GENERIC_UNIT () (Orcish Slayer)   22 4} {GUARDIAN} {WITH_ABILITY AMBUSH}
    [/side]

    [side]
        side=5
        controller=ai
        no_leader=yes
        hidden=yes
        team_name=incursion
        user_team_name= _ "team_name^Invaders"
    [/side]

    [side]
        side=6
        controller=ai
        no_leader=yes
        hidden=yes
        team_name=evil
        user_team_name= _ "team_name^Swarm"
    [/side]
    # wmllint: validate-on

    {STARTING_VILLAGES 2 6}
    {STARTING_VILLAGES 3 6}
    {STARTING_VILLAGES 4 7}

    {PLACE_IMAGE ("scenery/rock3.png") 33 10}
    {PLACE_IMAGE ("scenery/rock4.png") 45 26}

    {PLACE_IMAGE ("scenery/abandoned-fire.png") 41 7}
    {PLACE_IMAGE ("scenery/oak-leaning.png~FL(horiz)") 38 24}
    {PLACE_IMAGE ("scenery/rubble.png") 35 5}

    {PLACE_IMAGE ("scenery/signpost.png") 27 14}
    {PLACE_IMAGE ("scenery/signpost.png") 50 21}

#define FTS_PORTAL_SLF
    x,y=46,7
#enddef

    # Teleport monolith
    [item]
        image="scenery/monolith3.png"
        halo="halo/fire-aura.png"
        {FTS_PORTAL_SLF}
    [/item]

    # Bat spawns
    {SPAWN_CONTROLLER}

    {TIMED_SPAWNER 2 (type=Dread Bat,Blood Bat) 6 2 3}
    {TIMED_SPAWNER 2 (type=Dread Bat,Blood Bat) 6 3 4}
    {TIMED_SPAWNER 3 (type=Dread Bat,Blood Bat) 6 34 14}
    {TIMED_SPAWNER 3 (type=Dread Bat,Blood Bat) 6 41 10}

    [event]
        name=prestart

        [modify_side]
            side=4
            [ai]
                {AI_SIMPLE_ALWAYS_ASPECT grouping no}
            [/ai]
        [/modify_side]

        [micro_ai]
            side=4
            action=add
            ai_type=recruit_random

            skip_low_gold_recruit=yes
#ifdef HARD
            [probability]
                type=Orcish Assassin
                probability=1.00
            [/probability]
#else
            [probability]
                type=Orcish Slayer
                probability=1.00
            [/probability]
#endif
            [probability]
                type=Wolf Rider
                probability=2.00
            [/probability]
            [probability]
                type=Orcish Grunt
                probability=6.00
            [/probability]
        [/micro_ai]

        [modify_side]
            side=6
            [ai]
                {AI_SIMPLE_ALWAYS_ASPECT grouping   no}
                {AI_SIMPLE_ALWAYS_ASPECT aggression 10.0}
            [/ai]
        [/modify_side]

        [micro_ai]
            side=6
            ai_type=swarm
            action=add
        [/micro_ai]

        # Shroud and custom time on the caves
        [time_area]
            terrain=X*^*,U*^*,Q*^*,*^Uf*,Cud,Kud,*^Ngl
            {UNDERGROUND}
        [/time_area]

        # wmllint: recognize Galamor
        {RECALL_GALAMOR 33 37}

        {MODIFY_UNIT (side=1) facing nw}
    [/event]

    [event]
        name=start

        {LOCK_VIEW}

        [message]
            speaker=Rhyan
            message= _ "This feels way too easy! Nevertheless... where do we go now? We have no reinforcements and no map, and what is this smog?"
        [/message]

        [delay]
            time=300
        [/delay]

        [message]
            speaker=Galamor
            message= _ "You could just use this."
        [/message]

        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message= _ "Galamor pulled a small, ornate pendant out of his tattered robe and tossed it casually to Rhyan."
        [/message]

        [message]
            speaker=Galamor
            message= _ "I found it in my travels before I was brought to this accursed place. As far as I know, it once belonged to a necromancer to call forth his legions of undead. I am no fan of the dark arts meself, but if that is true, we need help, an' we cannot afford to be picky!"
        [/message]

        [message]
            speaker=Rhyan
            message= _ "You want us to become no better than those whose arts is despised by every civilized race across the great continent? You want us to raise the dead from their graves to do our bidding?"
        [/message]

        [message]
            speaker=Galamor
            message= _ "Look, human, it is either that, or take our chances against whoever is waiting for us. Your call."
        [/message]

        [delay]
            time=1000
        [/delay]

        [message]
            speaker=Rhyan
            message= _ "Very well... but I am not holding on to this for a moment longer than necessary!"
        [/message]

        {UNLOCK_VIEW}

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Explore")}

            {OBJECTIVE_DEFEAT ( _ "Death of Rhyan")}
            {OBJECTIVE_DEFEAT ( _ "Death of Galamor")}

            {TURNS_RUN_OUT}

            {OBJECTIVE_CARRYOVER_NO_BONUS 100}
        )}
    [/event]

    [event]
        name=side 1 turn 2

        [message]
            speaker=narrator
            caption= _ "Soft Voice"
            image=misc/blank-hex.png
            message= _ "<i>Show them</i>"
        [/message]

        [delay]
            time=500
        [/delay]

        [remove_shroud]
            side=1
        [/remove_shroud]

        [message]
            speaker=Ela
            message= _ "(<i>surprised</i>) Oh, look what we have here! This is unexpected, I think."
        [/message]

        [message]
            speaker=Rhyan
            message= _ "I told you this was too easy...."
        [/message]

        [message]
            speaker=Galamor
            message= _ "So you're the thrice-accursed scum who locked us up, eh? Prepare te taste cold steel, you bastards!"
        [/message]

        [message]
            speaker=Ela
            message= _ "My apologies, little dwarf, but we cannot let you leave so easily. Rarok!"
        [/message]

        [message]
            speaker=Rarok
            message= _ "Atch, deal with them yourself! I have my own little ‘annoyance’ on my hands. Another one of those accursed dwarves again!"
        [/message]

        [message]
            speaker=Glamatsil
            message= _ "Shut yer over-sized pie-hole you stinkin’ orc. You broke our agreement to not send your stinkin' forces into our cities!"
        [/message]

        [message]
            speaker=Rarok
            message= _ "Gahhahaha! That was fun, wasn't it! This little magic totem has been most useful!"
        [/message]

        [message]
            speaker=Galamor
            message= _ "A magic totem...? Ah, perhaps... if the stories are true, an old human mage once lived in this valley. He built a magical portal that could send him anywhere, but after his death, no one could figure out how to make it work. If it is indeed functional once more, perhaps we have just found our escape route!"
        [/message]

        [message]
            speaker=Ela
            message= _ "Who do you think got it working again, little dwarf? Unfortunately those bastard dwarves' warding runes didn't do it much good when that <i>idiot</i> decided to send a pack of wolves into their main hall at dinner! So it's unstable at the moment, but of course, feel free to use it, just don't blame me when your head is trapped in the Void."
        [/message]

        [message]
            speaker=Rhyan
            message= _ "We'll take the risk. Onwards!"
        [/message]

        {OBJECTIVES (
            {OBJECTIVE_VICTORY ( _ "Reach the transporter with Rhyan or Galamor")}

            {OBJECTIVE_BONUS ( _ "Defeat all enemy leaders")}

            {OBJECTIVE_DEFEAT ( _ "Death of Rhyan")}
            {OBJECTIVE_DEFEAT ( _ "Death of Galamor")}
            {OBJECTIVE_DEFEAT ( _ "Death of Glamatsil")}

            {TURNS_RUN_OUT}

            {OBJECTIVE_NOTES ( _ "Beware bats")}

            {OBJECTIVE_CARRYOVER_NO_BONUS 100}
        )}
    [/event]

    [event]
        name=moveto
        [filter]
            {FTS_PORTAL_SLF}
            id=Rhyan,Galamor
        [/filter]

        [fire_event]
            name=enter portal
            [primary_unit]
                x,y=$x1,$y1
            [/primary_unit]
        [/fire_event]
    [/event]

#define FTS_UNIT_FROM_TRANSPORT _X _Y _UNITWML
    [scroll_to]
        x,y={_X},{_Y}
    [/scroll_to]

    [item]
        x,y={_X},{_Y}
        image=misc/blank-hex.png
        # HACK: An item can't be removed after only one cycle, so set this to a time longer than
        # it will take to execute the spawn event. They are removed after
        halo="halo/holy/light-beam-[1~7,6~1].png:[30*6,130,70*6],misc/blank-hex.png:100000"
    [/item]

    [delay]
        time=200
    [/delay]

    [unit]
        side=5
        x,y={_X},{_Y}
        {_UNITWML}

        random_gender=yes
        random_traits=no
        generate_name=yes

        [modifications]
            {TRAIT_RESILIENT}
        [/modifications]
    [/unit]

    [delay]
        time=500
    [/delay]
#enddef

    [event]
        name=enter portal

        {FTS_UNIT_FROM_TRANSPORT 36 4 (
            type=Dwarvish Fighter
        )}

        [remove_item]
            {EVERYWHERE}
            image=misc/blank-hex.png
        [/remove_item]
    [/event]

    [event]
        name=ela returns

        [scroll_to]
            x,y=
        [/scroll_to]

        [if]
            [have_unit]
                side=2
                id=Ela
            [/have_unit]
            [then]
                [kill]
                    id=Ela
                    animate=yes
                    fire_event=no
                [/kill]
            [/then]
        [/if]

        [delay]
            time=200
        [/delay]

        [unit]
            type=
            animate=yes
        [/unit]

        [message]
            speaker=Ela
            message= _ "Ahahaha! Did you really I was gone for good? Wrong! You see, I was never really here. Or alive, even. We have this little trick - but I say too much, do I not?"
        [/message]
    [/event]

    [event]
        name=sighted
        [filter]
            race=bat
        [/filter]
        [filter_second]
            [filter_side]
                side=1
            [/filter_side]
        [/filter_second]

        [message]
            speaker=second_unit
            message= _ "Bats???"
        [/message]

        [message]
            speaker=Glamatsil
            message= _ "Aye. Recently, we've seen them coming out of their caves even during the day, bombarding us and eating anything they can find. They've become a virtual swarm!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Glamatsil
        [/filter]

        [message]
            speaker=unit
            message= _ "Ack...(<i>gasp</i>) No... the portal!"
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=Glamatsil
        [/filter]

        [message]
            name=Galamor
            message= _ "Without help, we cannot stand!"
        [/message]

        {ENDLEVEL_DEFEAT}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Ela
        [/filter]
    [/event]

    [event]
        name=die
        [filter]
            id=Ela
        [/filter]
    [/event]

    [event]
        name=die
        [filter]
            id=Rarok
        [/filter]
    [/event]

    [event]
        name=victory

        {CLEAR_VARIABLE ()}
    [/event]

    {C_HERO_DEATHS}

    # {ENEMY_DEATH_CONTROLLER}
[/scenario]

#undef FTS_PORTAL_SLF
#undef FTS_UNIT_FROM_TRANSPORT
#undef FS_POSITION_FOR_FINAL_DIALOG
