#textdomain wesnoth-NX-RPG

[editor_group]
    id=NX-RPG-terrain
    name= _ "NX-RPG (custom terrains)"
    icon=group_custom3
[/editor_group]

######### SE GATES #########

[terrain_type]
    symbol_image="gate-se"
    name= _ "Gate (se)"
    id=gate_se
    string=^Ng/
    aliasof=-, _bas, Xt
    editor_group=NX-RPG-terrain
[/terrain_type]

######### SW GATES #########

[terrain_type]
    symbol_image="gate-sw"
    name= _ "Gate (sw)"
    id=gate_sw
    string=^Ng\
    aliasof=-, _bas, Xt
    editor_group=NX-RPG-terrain
[/terrain_type]

######### SE LOCKED GATES #########

[terrain_type]
    symbol_image="gate-locked-se"
    name= _ "Locked Gate (se)"
    id=gate_locked_se
    string=^Ngl/
    aliasof=-, _bas, Xt
    editor_group=NX-RPG-terrain
[/terrain_type]

######### SW LOCKED GATES #########

[terrain_type]
    symbol_image="gate-locked-sw"
    name= _ "Locked Gate (sw)"
    id=gate_locked_sw
    string=^Ngl\
    aliasof=-, _bas, Xt
    editor_group=NX-RPG-terrain
[/terrain_type]

######### VOLCANIC ABYSS #########

[terrain_type]
    symbol_image="volcanic-abyss"
    name= _ "Volcanic Abyss"
    id=abyss-volcanic
    string=Qxl
    aliasof=Qt
    editor_group=NX-RPG-terrain
[/terrain_type]

######### LIT BRAZIER #########

[terrain_type]
    symbol_image="../items/brazier-lit1"
    name= _ "Lit Brazier"
    id=brazier_lit
    string=^Bzl
    aliasof=_bas
    light=25
    editor_group=NX-RPG-terrain
[/terrain_type]

######### BRAZIER #########
[terrain_type]
    symbol_image="../items/brazier"
    name= _ "Brazier"
    id=brazier
    string=^Bzn
    aliasof=_bas
    editor_group=NX-RPG-terrain
[/terrain_type]

######### SHOP #########

[terrain_type]
    symbol_image="../scenery/tent-ruin-1"
    name= _ "Shop"
    id=shop
    string=^Nsh
    aliasof=_bas
    editor_group=NX-RPG-terrain
[/terrain_type]

######### DARK CASTLE #########

[terrain_type]
    symbol_image="tile-icons/dark-castle-tile"
    name= _ "Dark Castle"
    id=dark-castle
    string=Ydc
    aliasof=Ch
    gives_income=false
    recruit_onto=true
    recruit_from=true
    editor_group=NX-RPG-terrain
[/terrain_type]

######### DARK CASTLE KEEP #########

[terrain_type]
    symbol_image=tile-icons/dark-keep-tile
    name= _ "Dark Keep"
    id=dark-keep
    string=Ydk
    aliasof=Ch
    gives_income=false
    recruit_onto=true
    recruit_from=true
    editor_group=NX-RPG-terrain
[/terrain_type]

######### STONE FLOOR #########

[terrain_type]
    symbol_image="stone_floor"
    name= _ "Dark Tiled Floor"
    id=floor_tiled_dark
    string=Ztd
    aliasof=Rr
    editor_group=NX-RPG-terrain
[/terrain_type]

######### FAKE SHROUD #########

[terrain_type]
    id=overlay-fakeshroud
    name={TSTR_TERRAIN_NAME_SHROUD}
    symbol_image=void/void
    editor_image=tile-icons/fake-shroud
    string=^Zos
    aliasof=_bas
    editor_group=NX-RPG-terrain
[/terrain_type]

######### CARPET #########

[terrain_type]
    id=nx_carpet
    name= _ "Carpet"
    symbol_image=interior/carpet
    string=Ycp
    aliasof=Gt
    editor_group=NX-RPG-terrain
[/terrain_type]

######### EARTHY ROCKBOUND CAVE #########

[terrain_type]
    symbol_image=cave/earthy-hills-variation
    id=earthy_rocky_cave
    name={TSTR_TERRAIN_NAME_ROCKBOUND_CAVE}
    editor_name= _ "Earthy Rockbound Cave"
    string=Uhe
    aliasof=Uu, Hh
    mvt_alias=-,Uu, Hh
    editor_group=NX-RPG-terrain
[/terrain_type]

######### CITY #########

[terrain_type]
    symbol_image=tile-icons/city-regular-tile
    id=residential
    name= _ "City Area"
    string=^Rhx
    default_base=Rr
    aliasof=_bas, Vi
    heals=8
    editor_group=NX-RPG-terrain
[/terrain_type]

[terrain_type]
    symbol_image=tile-icons/city-arsenal-tile
    id=residential-village
    name= _ "Arsenal"
    string=^Vhx
    default_base=Rr
    aliasof=_bas, Vi
    heals=8
    editor_group=NX-RPG-terrain
[/terrain_type]
