#textdomain wesnoth-NX-RPG

#define ITEM_TOUCHPLATE _X _Y
    [item]
        x={_X}
        y={_Y}
        halo="items/touchplate.png~O(0.05):1600,items/touchplate.png~O(0.10):10,items/touchplate.png~O(0.15):10,items/touchplate.png~O(0.20):10,items/touchplate.png~O(0.25):10,items/touchplate.png~O(0.30):10,items/touchplate.png~O(0.35):10,items/touchplate.png~O(0.40):10,items/touchplate.png~O(0.45):10,items/touchplate.png~O(0.50):10,items/touchplate.png~O(0.55):10,items/touchplate.png~O(0.60):10,items/touchplate.png~O(0.65):10,items/touchplate.png~O(0.70):10,items/touchplate.png~O(0.75):10,items/touchplate.png~O(0.80):10,items/touchplate.png~O(0.85):10,items/touchplate.png~O(0.90):10,items/touchplate.png~O(0.95):10,items/touchplate.png:640,items/touchplate.png~O(0.95):10,items/touchplate.png~O(0.90):10,items/touchplate.png~O(0.85):10,items/touchplate.png~O(0.80):10,items/touchplate.png~O(0.75):10,items/touchplate.png~O(0.70):10,items/touchplate.png~O(0.65):10,items/touchplate.png~O(0.60):10,items/touchplate.png~O(0.55):10,items/touchplate.png~O(0.50):10,items/touchplate.png~O(0.45):10,items/touchplate.png~O(0.40):10,items/touchplate.png~O(0.35):10,items/touchplate.png~O(0.30):10,items/touchplate.png~O(0.25):10,items/touchplate.png~O(0.20):10,items/touchplate.png~O(0.15):10,items/touchplate.png~O(0.10):10"
    [/item]
#enddef

#define CHEST_WITH_GOLD X Y AMOUNT
    [item]
        x={X}
        y={Y}
        image=items/chest-plain-closed.png
    [/item]

    [event]
        name=moveto
        [filter]
            x={X}
            y={Y}
            side=1
        [/filter]

        [sound]
            name=open-chest.wav
        [/sound]

        [transient_message]
            caption= _ "Chest with gold"
            image=icons/coins_copper.png
            message={AMOUNT}+_" gold found." # wmllint: ignore
        [/transient_message]

        {ADD_GOLD 1 {AMOUNT}}

        [floating_text]
            [filter]
                x,y={X},{Y}
            [/filter]
            # wmlindent: start ignoring
            text="<span color='#e1e119'>{AMOUNT}</span>" # wmllint: ignore
            # wmlindent: stop ignoring
        [/floating_text]

        [sound]
            name=gold.ogg
        [/sound]

        {REMOVE_IMAGE {X} {Y}}
        {PLACE_IMAGE items/chest-plain-open.png {X} {Y}}
    [/event]
#enddef

# Magical ring that raises it's owner's defense in every terrain by 5%
#define NX_CHEST_DEFRING X Y
    {PLACE_IMAGE items/ring-gold.png {X} {Y}}

    [event]
        name=moveto
        first_time_only=no
        [filter]
            x,y={X},{Y}
            side=1
            role=hero
        [/filter]

        [message]
            image=wesnoth-icon.png
            speaker=narrator
            message= _ "Would you like to take this magical ring?"
            [option]
                message= _ "I'll leave it for another."
                [command]
                [/command]
            [/option]

            [option]
                message= _ "I think I'll take and use it."
                [command]
                    [if]
                        {VARIABLE_NUMERICAL_NOT_EQUALS defense_ring_{X}_{Y} 1}
                        [then]
                            [object]
                                duration=forever
                                name= _ "Ring of Defense"
                                image=misc/bootsagil.png
                                description= _ "You have found a strange, glowing ring. Wearing it will give its bearer +5% defense on all terrains."
                                [effect]
                                    apply_to=defense
                                    replace=no
                                    [defense]
                                        deep_water=-5%
                                        shallow_water=-5%
                                        swamp_water=-5%
                                        reef=-5%
                                        flat=-5%
                                        sand=-5%
                                        forest=-5%
                                        hills=-5%
                                        mountains=-5%
                                        village=-5%
                                        castle=-5%
                                        cave=-5%
                                        frozen=-5%
                                        unwalkable=-5%
                                        impassable=-5%
                                        fungus=-5%
                                    [/defense]
                                [/effect]
                            [/object]

                            [message]
                                speaker=narrator
                                message= _ "As the unit puts on the the ring, he feels a surge of new strength."
                                image=wesnoth-icon.png
                            [/message]

                            [sound]
                                name=magic-holy-1.ogg
                            [/sound]

                            {REMOVE_IMAGE {X} {Y}}

                            [message]
                                speaker=unit
                                message= _ "This is amazing! I...feel stronger! I wonder who the crafter was..."
                            [/message]
                        [/then]
                    [/if]
                [/command]
            [/option]
        [/message]
    [/event]
#enddef
