#textdomain wesnoth-Shadows_of_Deception

#define ANIMATED_FOUNTAIN _X _Y
    [terrain_graphics]
        x={_X}
        y={_Y}
        [tile]
            x=0
            y=0
            [image]
                layer=0
                name="../scenery/fountain-[01~13].png:100"
            [/image]
        [/tile]
    [/terrain_graphics]
#enddef

#define ITEM_TOUCHPLATE _X _Y
    [item]
        x={_X}
        y={_Y}
        halo="items/touchplate.png~O(0.05):1600,items/touchplate.png~O(0.10):10,items/touchplate.png~O(0.15):10,items/touchplate.png~O(0.20):10,items/touchplate.png~O(0.25):10,items/touchplate.png~O(0.30):10,items/touchplate.png~O(0.35):10,items/touchplate.png~O(0.40):10,items/touchplate.png~O(0.45):10,items/touchplate.png~O(0.50):10,items/touchplate.png~O(0.55):10,items/touchplate.png~O(0.60):10,items/touchplate.png~O(0.65):10,items/touchplate.png~O(0.70):10,items/touchplate.png~O(0.75):10,items/touchplate.png~O(0.80):10,items/touchplate.png~O(0.85):10,items/touchplate.png~O(0.90):10,items/touchplate.png~O(0.95):10,items/touchplate.png:640,items/touchplate.png~O(0.95):10,items/touchplate.png~O(0.90):10,items/touchplate.png~O(0.85):10,items/touchplate.png~O(0.80):10,items/touchplate.png~O(0.75):10,items/touchplate.png~O(0.70):10,items/touchplate.png~O(0.65):10,items/touchplate.png~O(0.60):10,items/touchplate.png~O(0.55):10,items/touchplate.png~O(0.50):10,items/touchplate.png~O(0.45):10,items/touchplate.png~O(0.40):10,items/touchplate.png~O(0.35):10,items/touchplate.png~O(0.30):10,items/touchplate.png~O(0.25):10,items/touchplate.png~O(0.20):10,items/touchplate.png~O(0.15):10,items/touchplate.png~O(0.10):10"
    [/item]
#enddef

#define CHEST_WITH_GOLD X Y AMOUNT
    [item]
        x={X}
        y={Y}
        image=items/chest-plain-closed.png
    [/item]

    [event]
        name=moveto
        [filter]
            x={X}
            y={Y}
            side=1
        [/filter]

        [sound]
            name=open-chest.wav
        [/sound]

        [transient_message]
            caption= _ "Chest with gold"
            image=icons/coins_copper.png
            message={AMOUNT}+_" gold found." # wmllint: ignore
            sound=gold.ogg
        [/transient_message]

        {ADD_GOLD 1 {AMOUNT}}

        [floating_text]
            [filter]
                x,y={X},{Y}
            [/filter]
            text="<span color='#e1e119'>{AMOUNT}</span>" # wmllint: ignore # wmlint: no spellcheck
        [/floating_text]

        {REMOVE_IMAGE {X} {Y}}
        {PLACE_IMAGE items/chest-plain-open.png {X} {Y}}
    [/event]
#enddef

# Action that will be fired upon taking a specified item.
# The event will even remove itself.
#define ACTIONS_WHEN_PICKED_UP_ITEM _ITEM _WML
    [event]
        id={_ITEM}_post_taken_actions
        name={_ITEM}_taken

        {_WML}

        [event]
            id={_ITEM}_post_taken_actions
            remove=yes
        [/event]
    [/event]
#enddef

# wmlindent: start ignoring
#define __HALO_CRYSTAL_GLYPH
halo/glyph-halo.png~O(0.4):500,halo/glyph-halo.png~O(0.48):200,halo/glyph-halo.png~O(0.54):200,halo/glyph-halo.png~O(0.48):200 #enddef
# wmlindent: stop ignoring

#define ITEM_CRYSTAL_GLYPH _X _Y
    [item]
        x={_X}
        y={_Y}
        image=items/crystal-glyph.png
        halo={__HALO_CRYSTAL_GLYPH}
    [/item]
#enddef

#define ITEM_CRYSTAL_GLYPH_POWERUP _X _Y
    [item]
        x={_X}
        y={_Y}
        image=items/crystal-glyph-powerup.png
        halo={__HALO_CRYSTAL_GLYPH}
    [/item]
#enddef

#define STANDARD_KEY_EFFECT _TARGET_X _TARGET_Y
    [usable_by]
        side=1
        [filter_location]
            [filter_adjacent_location]
                x,y={_TARGET_X},{_TARGET_Y}
                [or]
                    terrain="*^Ngl\,*^Ngl/"
                    [filter_adjacent_location]
                        [filter_adjacent_location]
                            x,y={_TARGET_X},{_TARGET_X}
                        [/filter_adjacent_location]
                    [/filter_adjacent_location]
                [/or]
            [/filter_adjacent_location]
        [/filter_location]
    [/usable_by]

    [command]
        [redraw][/redraw]

        [message]
            speaker=narrator
            # image="icons/key_silver.png"
            sound="{SOUND_LIST:UNLOCK}"
            message= _ "Door unlocked."
        [/message]

        #[unlock_gates]
        #    x={_TARGET_X}
        #    y={_TARGET_Y}
        #[/unlock_gates]

        {REMOVE_EVENT_BARRIER ("*^Ngl\,*^Ngl/") ({_TARGET_X}) ({_TARGET_Y})}
    [/command]
#enddef
