#textdomain wesnoth-NX-RPG

#define INIT_DEATH_VARS
    {VARIABLE killbonus.0_0  0}
    {VARIABLE killbonus.0_1 {DIFF 10 8  6 } }
    {VARIABLE killbonus.0_2 {DIFF 15 12 9 } }
    {VARIABLE killbonus.0_3 {DIFF 20 16 12} }
    {VARIABLE killbonus.0_4 {DIFF 25 20 15} }
    {VARIABLE killbonus.0_5 {DIFF 30 24 18} }
    {VARIABLE killbonus.1_0 {DIFF 10 8  6 } }
    {VARIABLE killbonus.1_1 {DIFF 20 16 12} }
    {VARIABLE killbonus.1_2 {DIFF 30 24 18} }
    {VARIABLE killbonus.1_3 {DIFF 40 32 24} }
    {VARIABLE killbonus.1_4 {DIFF 50 40 30} }
    {VARIABLE killbonus.1_5 {DIFF 60 48 36} }
    {VARIABLE killbonus.2_0 {DIFF 15 13 11} }
    {VARIABLE killbonus.2_1 {DIFF 30 26 22} }
    {VARIABLE killbonus.2_2 {DIFF 45 39 33} }
    {VARIABLE killbonus.2_3 {DIFF 60 52 44} }
    {VARIABLE killbonus.2_4 {DIFF 75 65 55} }
    {VARIABLE killbonus.2_5 {DIFF 90 78 66} }
#enddef

#define HERO_DEATH_BASE _ID _PRE _POST
    [event]
        name=last breath
        [filter]
            id={_ID}
        [/filter]
        {_PRE}
    [/event]
    [event]
        name=die
        [filter]
            id={_ID}
        [/filter]
        {_POST}
        [endlevel]
            result=defeat
            music="sad.ogg,defeat.ogg,defeat2.ogg"
        [/endlevel]
    [/event]
#enddef

#define ENEMY_DEATH_EVENT_FILTER_COMMON _EX_FILTER
    [filter]
        {_EX_FILTER}
        [filter_side]
            [enemy_of]
                team_name=good
            [/enemy_of]
        [/filter_side]
    [/filter]
    [filter_second]
        side=1
    [/filter_second]
#enddef

# Enemy controller for gates and such, which will give the killer
# +1 moves and 1 attack, so the player does not waste a turn on the gate
# Meant to be used in dungeon scenarios
#define ENEMY_FAKE_DEATH_CONTROLLER
    [event]
        name=die
        first_time_only=no
        {ENEMY_DEATH_EVENT_FILTER_COMMON (type=Gate)}

        [modify_unit]
            [filter]
                id=$second_unit.id
            [/filter]

            moves=4
            attacks_left=1

            [status]
                slowed=no
            [/status]
        [/modify_unit]
    [/event]
#enddef

#define ENEMY_DEATH_CONTROLLER
    [event]
        name=die
        first_time_only=no
        {ENEMY_DEATH_EVENT_FILTER_COMMON (
            [not]
                type=Gate
            [/not]
        )}

        [switch]
            variable=unit.level
            [case]
                value=3,4,5
                {VARIABLE isHero 2}
            [/case]

            [case]
                value=2
                {VARIABLE isHero 1}
            [/case]

            [case]
                value=1
                {VARIABLE isHero 0}
            [/case]

            [else]
                {VARIABLE isHero 1}
            [/else]
        [/switch]

        {VARIABLE bonus $killbonus.$isHero|_$unit.level|}

        [gold]
            side=1
            amount=$bonus
        [/gold]

        [floating_text]
            [filter]
                x,y=$x2,$y2
            [/filter]
			# wmlindent: start ignoring
            text="<span color='#e1e119'>$bonus</span>" # wmllint: ignore
			# wmlindent: stop ignoring
        [/floating_text]

        [sound]
            name=gold.ogg
        [/sound]

        {CLEAR_VARIABLE isHero}
    [/event]
#enddef
