#textdomain wesnoth-NX-RPG

#define DEATHS_VAR_INIT
    {VARIABLE killbonus.0_0  0}
    {VARIABLE killbonus.0_1 {DIFF 10 8  6 } }
    {VARIABLE killbonus.0_2 {DIFF 15 12 9 } }
    {VARIABLE killbonus.0_3 {DIFF 20 16 12} }
    {VARIABLE killbonus.0_4 {DIFF 25 20 15} }
    {VARIABLE killbonus.0_5 {DIFF 30 24 18} }
    {VARIABLE killbonus.1_0 {DIFF 10 8  6 } }
    {VARIABLE killbonus.1_1 {DIFF 20 16 12} }
    {VARIABLE killbonus.1_2 {DIFF 30 24 18} }
    {VARIABLE killbonus.1_3 {DIFF 40 32 24} }
    {VARIABLE killbonus.1_4 {DIFF 50 40 30} }
    {VARIABLE killbonus.1_5 {DIFF 60 48 36} }
    {VARIABLE killbonus.2_0 {DIFF 15 13 11} }
    {VARIABLE killbonus.2_1 {DIFF 30 26 22} }
    {VARIABLE killbonus.2_2 {DIFF 45 39 33} }
    {VARIABLE killbonus.2_3 {DIFF 60 52 44} }
    {VARIABLE killbonus.2_4 {DIFF 75 65 55} }
    {VARIABLE killbonus.2_5 {DIFF 90 78 66} }
#enddef

#define HERO_DEATH_BASE _ID _PRE _POST
    [event]
        name=last breath
        [filter]
            id={_ID}
        [/filter]
        {_PRE}
    [/event]
    [event]
        name=die
        [filter]
            id={_ID}
        [/filter]
        {_POST}
        [endlevel]
            result=defeat
            music="sad.ogg,defeat.ogg,defeat2.ogg"
        [/endlevel]
    [/event]
#enddef

#define A_HERO_DEATHS
    {HERO_DEATH_BASE (Elynia)
    (
        [message]
            speaker=unit
            message= _ "Good bye... I go to join the great figures of times past..."
        [/message]
    ) 
    (
        [message]
            speaker=Niryone
            message= _ "No! Elynia! No!"
        [/message]
    )}
	
	{HERO_DEATH_BASE (Niryone)
    (
        [message]
            speaker=unit
            message= _ "Find out...what is happening...for me."
        [/message]
    )
    (
        [message]
            speaker=Elynia
            message= _ "I cannot continue without her."
        [/message]
    )}
#enddef

#define B_HERO_DEATHS
    {HERO_DEATH_BASE (Rhyan)
    (
        [message]
            speaker=unit
            message= _ "I...have failed..."
        [/message]
    ) () }

    {HERO_DEATH_BASE (Galamor)
    (
        [message]
            speaker=unit
            message= _ "Augh....see what I got by following you...."
        [/message]
    )
    (
        [message]
            speaker=Rhyan
            message= _ "If I cannot even keep him alive, what would be said for me?"
        [/message]
    )}
#enddef

#define ENEMY_DEATH_CONTROLLER
    [event]
        name=die
        first_time_only=no
        [filter]
            [not]
                side=1
                [or]
                    [filter_side]
                        team_name=good
                    [/filter_side]
                [/or]
            [/not]
        [/filter]
        [filter_second]
            side=1
        [/filter_second]

        [check_inventory]
            [filter]
                id=$second_unit.id
            [/filter]
            item=c_attack_potion
        [/check_inventory]

        [switch]
            variable=unit.level
            [case]
                value=3,4,5
                {VARIABLE isHero 2}
            [/case]

            [case]
                value=2
                {VARIABLE isHero 1}
            [/case]

            [case]
                value=1
                {VARIABLE isHero 0}
            [/case]

            [else]
                {VARIABLE isHero 1}
            [/else]
        [/switch]

        [if]
            {VARIABLE_LEXICAL_EQUALS has_c_attack_potion yes}
            [or]
                {VARIABLE_LEXICAL_EQUALS unit.type "Gate"}
            [/or]
            [then]
                [modify_unit]
                    [filter]
                        id=$second_unit.id
                    [/filter]

                    moves=4
                    attacks_left=1

                    [status]
                        slowed=no
                    [/status]
                [/modify_unit]

                [redraw]
                    side=1
                [/redraw]
            [/then]
        [/if]

        [if]
            {VARIABLE_LEXICAL_NOT_EQUALS unit.type "Gate"}
            [then]
                {VARIABLE bonus $killbonus.$isHero|_$unit.level|}

                [gold]
                    side=1
                    amount=$bonus
                [/gold]

                [floating_text]
                    [filter]
                        x,y=$x2,$y2
                    [/filter]
                    text="<span color='#e1e119'>$bonus</span>" # wmllint: ignore
                [/floating_text]

                [sound]
                    name=gold.ogg
                [/sound]
            [/then]
        [/if]

        {CLEAR_VARIABLE isHero}
    [/event]
#enddef
