#textdomain wesnoth-NX-RPG

#define HERO_DEATH_BASE _ID _PRE _POST
    [event]
        name=last breath
        [filter]
            id={_ID}
        [/filter]
        {_PRE}
    [/event]
    [event]
        name=die
        [filter]
            id={_ID}
        [/filter]
        {_POST}
        [endlevel]
            result=defeat
            music="sad.ogg,defeat.ogg,defeat2.ogg"
        [/endlevel]
    [/event]
#enddef

#define ENEMY_DEATH_EVENT_FILTER_COMMON _EX_FILTER
    [filter]
        {_EX_FILTER}
        [filter_side]
            [enemy_of]
                team_name=good
            [/enemy_of]
        [/filter_side]
    [/filter]
    [filter_second]
        side=1
    [/filter_second]
#enddef

# Enemy controller for gates and such, which will give the killer
# +1 moves and 1 attack, so the player does not waste a turn on the gate
# Meant to be used in dungeon scenarios
#define ENEMY_FAKE_DEATH_CONTROLLER
    [event]
        name=die
        first_time_only=no
        {ENEMY_DEATH_EVENT_FILTER_COMMON (type=Gate)}

        [modify_unit]
            [filter]
                id=$second_unit.id
            [/filter]

            moves=4
            attacks_left=1

            [status]
                slowed=no
            [/status]
        [/modify_unit]
    [/event]
#enddef
