#textdomain wesnoth-NX-RPG

#define BLACK_SCREEN
    [color_adjust]
        red,green,blue=-500,-500,-500
    [/color_adjust]
#enddef

#define WHITE_SCREEN
    [color_adjust]
        red,green,blue=500,500,500
    [/color_adjust]
#enddef

#define RED_SCREEN
    [color_adjust]
        red,green,blue=500,-500,-500
    [/color_adjust]
#enddef

#define RESET_SCREEN
    [color_adjust]
        red,green,blue=0,0,0
    [/color_adjust]
#enddef

#define HIGHLIGHT_GOAL _X _Y
    {REPEAT 3 (
        [item]
            x={_X}
            y={_Y}
            image=misc/goal-highlight.png
        [/item]

        [delay]
            time=300
        [/delay]

        [remove_item]
            x={_X}
            y={_Y}
        [/remove_item]

        [delay]
            time=300
        [/delay]
    )}
#enddef

#define LOCK_VIEW
    [lock_view][/lock_view]
#enddef

#define UNLOCK_VIEW
    [unlock_view][/unlock_view]
#enddef
